.boton{
    background-color: #212121;
    padding: 1rem;
    color: white;
    cursor: pointer;
}

.boton:hover{
    background-color: grey;
    color: white;
}

.link{
    color: white;
    text-decoration: none;
}