.btn {
    display: block;
    background-color: #0072bb;
    color: #fff;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20.5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    color: #fef200;
    background-color: #004d7d;
}