.contenedor{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoAlonso{
    width: 70%;
    
}

.texto{
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10%;
}