.item-chassis{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    border: 1px solid #fef200;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px black;
    background-color: #0072bb ;
    color: white;
}

.datos-chasis{
    margin: 10px;
}

h1{
    text-align: center;
}

.link {
    text-decoration: none;
}

.contenedor-fotoChassis{
    display: flex;
    justify-content: center;
}

.fotoChassis {
    width: auto;
    align-items: center;
    border-radius: 10px; /* Hace que la imagen sea redonda */
    overflow: hidden;
}

.descripcion-chasis{
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    margin: 0.5rem;
    padding: 1rem;
    min-height: 425px;
}

