.circuito{
    background-color: #212121;
    color: white;
    border-radius: 5px;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
}

#Link{
    text-decoration: none;
}



.circuito:hover{
    background-color: darkslategrey;
}