.circuito {
    background-color: #212121;
    color: white;
    border-radius: 5px;
    padding: 2rem;
    text-decoration: none;
    min-height: 200px; 
  }
  
#Link{
    text-decoration: none;
}


.urlCircuito{
    color: lightblue;

}

.urlCircuito:hover{
    text-decoration: underline;
    color: blue;
}
