.chassis{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.h1{
    text-align: center;
    padding: 1rem;
    background-color: whitesmoke;
}

.cargando{
    text-align: center;
    padding: 1rem;
    font-size: large;
}

