.carreras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
}

.h1{
    text-align: center;
    padding: 1rem;
    background-color: whitesmoke;
}

.negrita{
    font-weight: bold;
}

.cargando{
    text-align: center;
    padding: 1rem;
    font-size: large;
}

