.carreras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.h1{
    text-align: center;
    padding: 1rem;
}

.cargando{
    text-align: center;
    padding: 1rem;
    font-size: large;
}

